/****CSS Style Page*****/

body {
	background-image: url(../images/spooky.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	align-content: center;
	font-family: 'Amatic SC', cursive;
	font-style: italic;
}

header {
	margin: 10px;
	padding: 20px;
	
}

h1 {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	color: #94e8c4;
}

hr {
	color: #14211a;
}

.previous {
	text-align: center;
	padding: 5px;
}

.main_content {
	text-align: center;
	background: #57816d;
	margin: auto;
	width: 400px;
	padding: 5px;
	color: #14211a;
	margin-bottom: 30px;

}

.box1{
	margin: auto;
	padding: 40px;
	display: inline-block;
	position: relative;
}

img {
	margin-top: 20px;
}

.box2{
	margin: auto;
	padding: 40px;
	text-align: center;
	display: inline-block;
	width: 200px;
	position: relative;


}

.start {
	margin: 10px;
	padding: 10px;
}

.wins {
	margin: 10px;
	padding: 10px;
}

.current_word {
	margin: 10px;
	padding: 10px;
}

.guesses_left {
	margin: 10px;
	padding: 10px;
}

.already_guessed {
	margin: 10px;
	padding: 10px;
}

.footer {
	background: #57816d;
	width: 100%;
	margin: auto;
	text-align: center;
	color: #14211a;
	position: relative;
	bottom: 10px;
}