/****CSS Style Page*****/

body {
	background-image: url(../images/spooky.jpg);
	background-repeat: all;
	color: #ffffff;
	align-content: center;
	font-family: 'Amatic SC', cursive;
}

header {
	margin: 10px;
	padding: 10px;
	
}

h1 {
	font-size: xx-large;
	font-style: italic;
	text-align: center;
}

.previous {
	text-align: center;
}

.main_content {
	text-align: center;
	background: #57816d;
	margin: auto;
	width: 400px;
	padding: 5px;

}

.box1{
	margin: auto;
	padding: 40px;
	display: inline-block;
	position: relative;
}

img {
	margin-top: 20px;
}

.box2{
	margin: auto;
	padding: 40px;
	text-align: center;
	display: inline-block;
	width: 200px;
	position: relative;


}

.start {
	margin: 10px;
	padding: 10px;
}

.wins {
	margin: 10px;
	padding: 10px;
}

.current_word {
	margin: 10px;
	padding: 10px;
}

.guesses_left {
	margin: 10px;
	padding: 10px;
}

.already_guessed {
	margin: 10px;
	padding: 10px;
}